* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(166, 193, 238, 1) 0%, rgba(251, 194, 235, 1) 100%);
    min-height: 100vh;
}

.todo-app {
    background: white;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e5e5;
    border-radius: 30px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: lighter;
}

button {
    outline: none;
    border: none;
    padding: 16px 50px;
    background: #ff7c48;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    margin-bottom: 10px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgb(170 198 203 / 40%)
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 2px;
    right: 2px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #e9e4e4;
}

/* @media only screen and (max-width: 600px) {
    .todo-app {
      background-color: black;
    }
  } */